@media screen and (max-width: 768px) {
    .contact{
        width:100vw;
    height:100vh;
    background-image:url('/backgrd.jpg')no-repeat center cover ;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;

    }

    .head{
    display: flex;
    font-size: 30px;
    text-align: center;
    margin-top: 0px;
    width:100%;
    height: auto;
    padding: 0px;
    translate: -20px 0px;
}
.para{
    font-size: 15px;
    text-align: center;
    margin: 0px;
    width:70vw;
    height:auto ;
    
    gap: 10px;
    padding: 10px;
    margin: 10px;
}
}
