@media screen and (max-width: 768px) {
    .ressection{
        display: flex;
        align-items: center;
        height: 100vh;
        width: 100%;
        padding: auto;
        display: absolute;
    }
    .res{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;
        font-size: 15px;

    }
    .head{
        font-size: 25px;
        text-align: center;
    }
    .image{
        display: none;
    }   
}